## admin.html
<%inherit file="base.html" />

<div class="wrapper">
    <input type="hidden" id="updateAuth" value="${ins.is_allowed('create', 'admin')}">
    <!--导航-->
    <%include file="nav.html" args="on={'admin': 'on'}"/>
    <!--右侧功能栏-->
    <div class="projects">
        <div class="tabbox">
            <div class="bread">
                <%include file="bread_nav.html" args="location=location,ins=ins,suffix='账户管理'"/>
                <%
                is_allowed_view_admin = ins.is_allowed('view', 'admin');
                is_allowed_create_admin = ins.is_allowed('create', 'admin');
                is_allowed_update_admin = ins.is_allowed('update', 'admin');
                %>
                <div class="widget">
                    % if ins.is_super():
                    <a href="adminedit.html?location=${location}" class="btnBlue">编辑角色</a>
                    % endif
                    % if ins.is_super():
                    <a href="adminadd.html?location=${location}" class="btnBlue">新增角色</a>
                    % endif
                </div>
            </div>
        </div>
        <div class="tabbox accountInfo">
            <div class="toolnav">
                <h3>管理员账户信息</h3>
            </div>
            <div class="areabox">
                <ul>
                    <li><p>${ins.user}</p><h4>账号</h4></li>
                    <%
                      import resource;
                      import manager;
                      def get_projectname(_location):
                          try:
                              return resource.get(ins, _location).name;
                          except:
                              return ''

                      current_user = manager.get(ins, ins.user);
                    %>
                    % if ins._location:
                    <li><p>${get_projectname(current_user._location)}</p><h4>所属项目</h4></li>
                    % endif
                    <li><p>${current_user.role}</p><h4>角色</h4></li>
                    <li><p>${current_user.ctime.strftime('%Y-%m-%d')}</p><h4>创建时间</h4></li>
                    <li><p>******</p><h4>密码</h4></li>
                </ul>
                <div class="btns">
                    <button type="button" class="btnBlueSmall edit" data-value="${ins.user}">修改密码</button>
                </div>
            </div>
        </div>
        <div class="tabbox ns_table" id="accountlist">
            <div class="toolnav">
                % if is_allowed_view_admin:
                <h3>项目账户管理</h3>
                <div class="toolbox">
                    % if is_allowed_create_admin:
                    <button type="button" class="btnGraySmall addbtn">新增</button>
                    % endif
                    <div class="search" id="search"><input type="text" placeholder="搜索账号" /><button type="button"><i class="searchIcoGray"></i></button></div>
                </div>
                % endif
            </div>
            <div id="adminMemTable"></div>
            <script src="/static/js/component/admin.js"></script>
        </div>
    </div>
</div>

<%block name="aside">
<div class="modal fade" id="modalAccount">
    <div class="modal_account modal_body">
        <h3>新增账户</h3>
        <ul class="vertical">
            <li><label><i>*</i>账户：</label><span class="veright"><div class="verify"><input type="text" name="name" class="matchVerify shouldVerify" /></div></span></li>
            <li><label><i>*</i>所属项目：</label><span class="veright"><div class="autoInput autoDom" title="" data-locate="">所属</div></span></li>
            <li><label><i>*</i>角色：</label>
              <span class="veright"><select id="role">
                  % for r in roles:
                  <option value="${r}">${r}</option>
                  % endfor
            </select></span></li>
            <li><label><i>*</i>密码：</label><span class="veright"><div class="verify"><input type="text" name="password" class="matchVerify checkEng" /></div></span></li>
            <li><label><i>*</i>感知组：</label>
                <span class="veright">
                    <div class="checklist" id="sensAdmin">
                        <dl></dl>
                    </div>
                </span>
            </li>
        </ul>
        <div class="btngroups"><button type="button" class="btnBlue add">确定</button></div>
        <i class="msg"></i>
        <span class="closed">X</span>
        <input type="hidden" name="idx" />
        <input type="hidden" name="id" />
    </div>
</div>
<div class="modal fade" id="modalPassword">
    <div class="modal_password modal_body">
        <h3>修改密码</h3>
        <ul class="vertical">
            <li><label>输入旧密码：</label><span class="veright"><div class="verify"><input type="password" name="oldpwd" class="matchVerify shouldVerify" /></div></span></li>
            <li><label>输入新密码：</label><span class="veright"><div class="verify"><input type="password" name="newpwd" class="matchVerify shouldVerify checkEng" /></div></span></li>
            <li><label>确认新密码：</label><span class="veright"><div class="verify"><input type="password" name="new2pwd" class="matchVerify shouldVerify checkEng" /></div></span></li>
        </ul>
        <div class="btngroups"><button type="button" class="btnBlue save">保存</button></div>
        <i class="msg"></i>
        <span class="closed">X</span>
    </div>
</div>
</%block>

<%block name="jscode">
    <script src="/static/js/lib/myselect.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.autoDom').mySelect();

            var sensAdmin = '';
            var getSensAdmin = function(){
                sensAdminAjax("get", '', function(data){
                    if(data.code==200){
                        var h='';
                        if(data.groups.length>0){
                            for(var i=0, len=data.groups.length; i<len; i++){
                                var sens = data.groups[i];
                                h += '<dd><i class="uncheck_s"></i><em data-id="'+sens._id+'">'+sens.group+'</em></dd>';
                            }
                        }
                        $('#sensAdmin dl').html(h);

                    }
                });
            };
            if(sensAdmin==''){
                getSensAdmin();
            }
        });
    </script>
</%block>