<%inherit file="base.html" />

<div class="wrapper">
    <input type="hidden" id="location" value="${location}" />
    <input type="hidden" id="macHid" value="${mac}" />
    <input type="hidden" id="macIP" value="${ip}" />
    <!--导航-->
    <%include file="nav.html" args="on={'user': 'on'}" />
    <!--右侧功能栏-->
    <div class="projects">
        <div class="tabbox">
            <div class="bread">
                <%include file="bread_nav.html" args="location=location,ins=ins,suffix='账号详情',compress=True,remain=[('内网账号', '/projectuserinner.html?location={}'.format(location))]"/>
                <div class="widget">
                    <a href="/projecturl.html?location=${location}&user=&mobile=&ip=${ip}" class="btnGraySmall">URL纪录</a>
                    % if ins.is_allowed('update', 'user'):
                    <input type="hidden" class="id" value="${account.id}" />
                    <button type="button" class="btnGraySmall" id="userinfoEdit">编辑</button>
                    <button type="button" class="btnBlueSmall userinfoSave" id="userinfoInnerSave" style="display: none;">保存</button>
                    <button type="button" class="btnGraySmall" id="userinfoQuit" style="display: none;">取消</button>
                    % endif
                    <button type="button" class="btnGraySmall userinfoReback">返回</button>
                </div>
            </div>
        </div>
        <div class="tabbox ns_infouser" id="userinfo">
            <div class="areabox">
                <ul class="vertical">
                    <li>
                        <label>账号：</label>
                        <span class="veright sue" data-value="${account.account}" name="user" data-type="text">${account.account}</span>
                    </li>
                    <li>
                        <label>姓名：</label>
                        <span class="veright sue" data-value="${account.name}" name="name" data-type="text">${account.name}</span>
                    </li>
                    <li>
                        <label>部门：</label>
                        <span class="veright sue" data-value="${account.department}" name="department" data-type="text">${account.department}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tabbox ns_table">
            <div class="toolnav">
                <h3>用户漫游记录</h3>
                <div class="toolbox">
                    <button type="button" class="btnGraySmall" id="dateSearch">查询</button>
                    <a href="javascript:;" class="btnGraySmall" id="connectRecordExport">导出</a>
                    <div class="timebar">时间段查询：<div><input type="text" value="${start}" id="dateStart" />至<input type="text" value="${end}" id="dateEnd" /></div></div>
                </div>
            </div>
            <div id="onlineRecordMemTable"></div>
            <script src="/static/js/component/onlinerecord.js"></script>
        </div>
    </div>
</div>

<%block name="jscode">
    <script type="text/javascript" src="/static/js/lib/jqueryui.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery-ui-timepicker-addon.js"></script>
</%block>
