## redeemcodelist.html
<%inherit file="base.html" />

<div class="wrapper">
    <!--导航-->
    <%include file="nav.html" args="on={'redeem': 'on'}"/>
    <!--右侧功能栏-->
    <div class="projects">
        <div class="tabbox">
            <div class="bread">
                <h2>
                    <a href="/index.html">所有项目</a> > <a href="/redeemcode.html?location=${location}">兑换码管理</a> > <span style="color:#0faee5">兑换码列表</span>
                </h2>
                <div class="widget">
                    <a href="/redeemcode.html?location=${location}" class="btnBlue">生成兑换码</a>
                    <a href="javascript:;" class="btnBlue disabled">兑换码列表</a>
                    <a href="/redeemcodetotal.html?location=${location}" class="btnBlue">运营统计</a>
                </div>
            </div>
        </div>
        <div class="tabbox ns_table" id="redeemcodelist">
            <div class="toolnav">
                <div class="toolbox">
                    筛选条件：
                    <select v-model.lazy="codeStatus" @change="selectStatusCodes">
                        <option value="">状态</option>
                        <option value="0">待兑换</option>
                        <option value="1">已兑换</option>
                        <option value="2">过期未兑换</option>
                    </select>
                </div>
            </div>
            <div class="areabox">
                <table>
                    <tr>
                        <th width="20%">兑换码</th>
                        <th width="20%">时长</th>
                        <th width="20%">有效期</th>
                        <th width="20%">创建时间</th>
                        <th width="20%">状态</th>
                    </tr>
                    <tr is="render-list" v-for="code in codeList" :code="code" :key="code.id"></tr>
                </table>
                <div class="page-panel" style="text-align:right;margin-top:16px">
                    <paginator :current-page="currentPage" :total-page="totalPage" :jump-page="jumpPage" @page-change="pageChange"></paginator>
                </div>
            </div>
        </div>
    </div>
</div>

<%block name="aside">
<script src="/static/js/lib/vue.js"></script>
<script src="/static/js/redeemcodelist.min.js"></script>
</%block>