<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>运营统计</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
    <link rel="stylesheet" href="/static/css/jqueryui.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <script type="text/javascript" src="/static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/main.min.js"></script>

    <link rel="stylesheet" href="/static/css/redeemcodetotal.css" />
</head>

<body>
    <div class="header">
        <div class="wrapper">
            <a href="/index.html" title="分布式认证系统" class="logo">分布式认证系统</a>
            <div class="admin">
                <img src="../static/images/logo_bidong.png" />
                <span class="username">user</span>
                <span class="cutofline"><i></i></span>
                <a href="/logout" class="logout">退出</a>
            </div>
            <div class="search">
                <input type="text" />
                <button><i class="searchIco"></i></button>
            </div>
        </div>
    </div>
    <div class="content">

        <div class="wrapper">
            <div class="nav">
                <h3 class="${on.pop('project', '')}"><a href="/projectcard.html?location=${location}"><i class="navProjectIco"></i>项目管理</a></h3>
                <h3 class="${on.pop('project', '')}"><a href="/index.html"><i class="navProjectIco"></i>项目管理</a></h3>
                <h3 class="${on.pop('policy', '')}"><a href="/projectpn.html?location=${location}"><i class="navPolicyIco"></i>网络管理</a></h3>
                <h3 class="${on.pop('policy', '')}"><a href="/policy.html?location=${location}"><i class="navPolicyIco"></i>网络管理</a></h3>
                <h3 class="${on.pop('ac', '')}"><a href="/ac.html?location=${location}"><i class="navACIco"></i>AC管理</a></h3>
                <h3 class="${on.pop('ap', '')}"><a href="/ap.html?location=${location}"><i class="navAPIco"></i>AP管理</a></h3>
                <h3 class="${on.pop('admin', '')}"><a href="/admin.html?location=${location}"><i class="navManagerIco"></i>账户管理</a></h3>
                <h3 class="${on.pop('user', '')}"><a href="/projectuseronline.html?location=${location}"><i class="navUserIco"></i>用户列表</a></h3>
                <h3 class="${on.pop('pay', '')}"><a href="/projectbill.html?location=${location}"><i class="navBillIco"></i>计费模块</a></h3>
                <h3 class="${on.pop('message', '')}"><a href="/projectmsg.html?location=${location}"><i class="navNewsIco"></i>新闻公告</a></h3>
                <h3 class="${on.pop('sens', '')}"><a href="/projectsens.html?location=${location}"><i class="navSensIco"></i>感知分析</a></h3>
                <h3 class="${on.pop('h5', '')}"><a href="/projecth5list.html?location=${location}"><i class="navH5Ico"></i>H5页面管理</a></h3>
                <h3 class="${on.pop('apgroups', '')}"><a href="/apgroups.html?location=${location}"><i class="navAPgroupIco"></i>AP组管理</a></h3>
            </div>

            <div class="projects">
                <div class="tabbox">
                    <div class="bread">
                        <h2>
                            <a href="/index.html">所有项目</a> > <a href="/redeemcode.html">兑换码管理</a> > <span style="color:#0faee5">运营统计</span>
                        </h2>
                        <div class="widget">
                            <a href="/redeemcode.html" class="btnBlue">生成兑换码</a>
                            <a href="/redeemcodelist.html" class="btnBlue">兑换码列表</a>
                            <a href="javascript:;" class="btnBlue disabled">运营统计</a>
                        </div>
                    </div>
                </div>
                <div class="tabbox ns_table" id="redeemcodetotal">
                    <div class="total-panel">
                        <div class="total">总时长：4000小时</div><div class="used">已兑换：4000小时</div><div class="usable">待兑换：4000小时</div><div class="expired">已过期：4000小时</div>
                    </div>
                    <div class="toolnav">
                        <div class="toolbox">
                            <div>
                                运营人员：
                                <select v-model.lazy="codeStatus" @change="selectStatusCodes">
                                    <option value="">全部</option>
                                </select>
                            </div>
                            <div>
                                统计周期：
                                <input type="text" />
                                —
                                <input type="text" />
                            </div>
                            <button type="button" class="btnBlueSmall">确定</button>
                        </div>
                    </div>
                    <div class="areabox">
                        <table>
                            <tr>
                                <th width="20%">运维人员</th>
                                <th width="20%">总时长</th>
                                <th width="20%">已兑换</th>
                                <th width="20%">待兑换</th>
                                <th width="20%">已过期</th>
                            </tr>
                            <tr is="render-list" v-for="code in codeList" :code="code" :key="code.id"></tr>
                            <tr>
                                <td><b>合计</b></td>
                                <td>4000</td>
                                <td>4000</td>
                                <td>4000</td>
                                <td>4000</td>
                            </tr>
                        </table>
                        <div class="page-panel" style="text-align:right;margin-top:16px">
                            <paginator :current-page="currentPage" :total-page="totalPage" :jump-page="jumpPage" @page-change="pageChange"></paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="wrapper">
            <p>广州中国科学院计算机网络信息中心</p>
            <p>电话：020-22992549<span></span>邮箱：gd-xub@chinaunicom.cn</p>
        </div>
    </div>

    <div class="uptotop"><i></i>返回顶部</div>

    <script src="/static/js/lib/jqueryui.min.js"></script>
    <script src="/static/js/lib/vue.js"></script>
    <script src="/static/js/redeemcodetotal.min.js"></script>
</body>
</html>