
.content .nav h4 {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-weight: normal;
  border-bottom: 1px solid #efefef;
  background: none;
	border-left: 6px solid #fff;
}

.content .nav h4.on{
	border-left: 6px solid #0faee5;
}
.content .nav h4 a{
	padding-left: 4em;
	color: #444;
}
