## projectuser.html
<%inherit file="base.html" />

<div class="wrapper">
    <input type="hidden" id="updateAuth" value="${ins.is_allowed('update', 'user')}">
    <input type="hidden" id="createAuth" value="${ins.is_allowed('create', 'user')}">
    <input type="hidden" id="deleteAuth" value="${ins.is_allowed('delete', 'user')}">
    <input type="hidden" id="viewAuth" value="${ins.is_allowed('view', 'user')}">
    <input type="hidden" value="${location}" id="location" />
    <!--导航-->
    <%include file="nav.html" args="on={'user': 'on'}"/>
    <!--右侧功能栏-->
    <div class="projects">
        <div class="tabbox">
            <div class="bread">
                <%include file="bread_nav.html" args="location=location,ins=ins,suffix='内网账号',compress=True"/>
            </div>
        </div>
        <div class="tabbox ns_table" id="userlistInner">
            <ul class="adsnav">
                <li><a href="/projectuseronline.html?location=${location}">在线用户</a></li>
                <li><a href="/projectuserguest.html?location=${location}">在线访客</a></li>
                <li><a href="/projectuseraccount.html?location=${location}">上网账号</a></li>
                <%
                import resource
                res = resource.get(ins, location)
                %>
                % if res.type_id == 8:
                <li><a href="/projectuserpn.html?location=${location}">专网用户</a></li>
                <li class="on"><a href="/projectuserinner.html?location=${location}">内网用户</a></li>
                <li><a href="/projectuserpay.html?location=${location}">缴费账户</a></li>
                % endif
            </ul>
            <div class="toolnav">
                <div class="toolbox">
                    <div class="search" id="search"><input type="text" placeholder="输入搜索内容" /><button type="button"><i class="searchIcoGray"></i></button></div>
                    % if ins.is_allowed('create', 'user'):
                    <button type="button" class="btnGraySmall add">新增</button>
                    <a href="/inneruser_template.xls?location=${location}" class="btnGraySmall">下载模板</a>
                    <button type="button" class="btnGraySmall" id="uploadfileInner">导入用户</button>
                    <input type="file" class="xlsfile" id="xlsfileInner" name="uploadfile" />
                    % endif
                    <a href="/export/inneruser/?location=${location}" class="btnGraySmall">导出用户</a>
                </div>
            </div>
            <div id="userInnerMemTable"></div>
        </div>
    </div>
</div>

<%block name="aside">
    <%include file="imgModal.html" />
    <div class="modal fade" id="modalRoomInner">
        <div class="modal_room_inner modal_body">
            <h3>新增用户</h3>
            <ul class="vertical">
                <li><label>账户：</label><span class="veright"><div class="verify"><input type="text" name="account" class="matchVerify shouldVerify"></div></span></li>
                <li><label>姓名：</label><span class="veright"><div class="verify"><input type="text" name="name" class="matchVerify shouldVerify"></div></span></li>
            </ul>
            <div class="btngroups"><button type="button" class="btnBlue add" id="add">确定</button></div>
            <i class="msg"></i>
            <span class="closed">X</span>
            <input type="hidden" name="id" />
        </div>
    </div>
    <script src="/static/js/component/userinner.js"></script>
</%block>

<%block name="jscode">
    <script type="text/javascript" src="/static/js/lib/ajaxfileupload.js"></script>
</%block>