## adminadd.html
<%inherit file="base.html" />

<div class="wrapper">
    <input type="hidden" id="location" value="${location}" />
    <!--导航-->
    <%include file="nav.html" />
    <!--右侧功能栏-->
    <div class="projects">
        <div class="tabbox">
            <div class="bread">
                <%include file="bread_nav.html" args="location=location,ins=ins,suffix='编辑角色',remain=[('帐号管理', '/admin.html?location={}'.format(location)),]"/>
                <div class="widget">
                    <button class="btnBlueSmall" id="roleSave">保存</button>
                    <a href="/admin.html?location=${location}" class="btnGraySmall">取消</a>
                </div>
            </div>
        </div>
        <div class="tabbox ns_role">
            <div class="toolnav">
              <h3>角色选择：<select class="role_sel" id="role">
                  % for r in roles:
                  <option value="${r}">${r}</option>
                  % endfor
              </select></h3>
            </div>
            <div class="toolnav">
                <h3>功能选择：</h3>
            </div>
            <%
              from utils import ServiceFactory
              r = ServiceFactory.create('account.admin').get_role(roles[0])
              def check_allowed(operate, resource):
                  print(r['acl'])
                  for a in r['acl']:
                      print(a)
                      if a['resource'] == resource and operate in a['operation']:
                          return True
                  return False

              def check_resource(resource):
                  for a in r['acl']:
                      if a['resource'] == resource and len(a['operation']) > 0:
                              return True
                  return False
            %>
            <div class="areabox" id="roleOpra">
                % for p in permissions:
                <p><label data-resource="${p['resource']}">
                    % if check_resource(p['resource']):
                    <i class="headunchk headchk"></i>
                    % else:
                    <i class="headunchk"></i>
                    % endif
                    ${p['label']}</label></p>
                <div>
                    % for op in p['operation']:
                    <label data-operation="${op['name']}">
                      % if check_allowed(op['name'], p['resource']):
                      <i class="unchk chk"></i>
                      % else:
                      <i class="unchk"></i>
                      % endif
                      ${op['label']}</label>
                    % endfor
                </div>
                % endfor
            </div>
        </div>
    </div>
</div>
