## projectuser.html
<%inherit file="base.html" />

<div class="wrapper">
    <input type="hidden" id="updateAuth" value="${ins.is_allowed('update', 'user')}">
    <input type="hidden" id="createAuth" value="${ins.is_allowed('create', 'user')}">
    <input type="hidden" id="deleteAuth" value="${ins.is_allowed('delete', 'user')}">
    <input type="hidden" id="viewAuth" value="${ins.is_allowed('view', 'user')}">
    <input type="hidden" value="${location}" id="location" />
    <!--导航-->
    <%include file="nav.html" args="on={'user': 'on'}"/>
    <!--右侧功能栏-->
    % if location.startswith('29946'):
    <%
        import user
        from settings import Base
        online, _, _, _ = user.online_user_array(ins, location, page=None, page_size=None);
        # 内部在线人数
        online_count = len([ol for ol in online if ol['name'] != '' and ol['name'] != u'(访客)'])
        # 非内部在线人数
        online_count2 = len([ol for ol in online if ol['name'] == '' or ol['name'] == u'(访客)'])
        try:
            TPNUser = Base.classes.__getattr__('pn_{}'.format(location.split(',')[-1]))
            # 内部不在线人数
            offline_count = ins.session.query(TPNUser).count() - online_count
        except:
            offline_count = 0
    %>
    % else:
    <%
        online_count = online_count2 = offline_count = 0
    %>
    % endif
    <div class="projects">
        <div class="tabbox">
            <div class="bread">
                <%include file="bread_nav.html" args="location=location,ins=ins,suffix='上网账号',compress=True"/>
                <div class="widget">
                    % if location == '29946':
                    <span class="widinfo bg_green" style="width:145px">在线：${online_count}人</span>
                    <span class="widinfo bg_gray" style="width:145px">不在线：${offline_count}人</span>
                    <span class="widinfo bg_blue" style="width:145px">在线访客：${online_count2}人</span>
                    % endif
                    % if location.startswith('206386'):
                    <a href="/projectchart.html?location=${location}" class="btnBlue">认证人数统计</a>
                    % endif
                </div>
            </div>
        </div>
        <div class="tabbox ns_table" id="userlistAccount">
            <ul class="adsnav">
                <li><a href="/projectuseronline.html?location=${location}">在线用户</a></li>
                <li><a href="/projectuserguest.html?location=${location}">在线访客</a></li>
                <li class="on"><a href="/projectuseraccount.html?location=${location}">上网账号</a></li>
                <%
                from utils import ServiceFactory
                res = ServiceFactory.create('project.project').get_by_location(location)
                %>
                % if res.type.id == 8:
                <li><a href="/projectuserpn.html?location=${location}">专网用户</a></li>
                % endif
            </ul>
            <div class="toolnav">
                <div class="toolbox">
                    <div class="search" id="search"><input type="text" placeholder="输入搜索内容" /><button type="button"><i class="searchIcoGray"></i></button></div>
                    % if ins.is_allowed('create', 'user'):
                    <button type="button" class="btnGraySmall add">新增</button>
                    % endif
                </div>
            </div>
            <div id="userAccountMemTable"></div>
        </div>
    </div>
</div>

<%block name="aside">
    <%include file="imgModal.html" />
    <div class="modal fade" id="modalRoomAccount">
        <div class="modal_room_account modal_body">
            <h3>新增用户</h3>
            <ul class="vertical">
                <li><label>电话号码：</label><span class="veright"><div class="verify"><input type="text" name="mobile" class="matchVerify shouldVerify checkPhone"></div></span></li>
                <li><label>上网账号：</label>
                    <span class="veright">
                        % if not location.startswith('29946'):
                        <em style="float:left;line-height:32px">${location.split(',')[-1]}</em>
                        % endif
                        <div class="verify" style="width:158px;float: left"><input type="text" name="user" class="matchVerify shouldVerify" data-type="string" style="width:158px;margin-right:0" /></div>
                    </span>
                </li>
                <li><label>密码：</label><span class="veright"><div class="verify"><input type="password" name="password" class="matchVerify shouldVerify"></div></span></li>
                <li><label>到期时间：</label><span class="veright"><div class="verify"><input type="text" name="expired" class="datepicker"></div></span></li>
                <li><label>终端数：</label><span class="veright">
                    <div class="amount">
                      <button type="button" class="btnWhiteSmall reduceOne">-</button>
                      <input type="text" name="ends" value="2" />
                      <button type="button" class="btnWhiteSmall addOne">+</button>
                    </div>
                </span></li>
                % if not location.startswith('29946'):
                <li><label>备注：</label><span class="veright"><div class="verify"><input type="text" name="note" class="matchVerify"></div></span></li>
                % endif
                % if location.startswith('206386'):
                <li><label>绑定MAC：</label>
                    <span class="veright">
                        <div class="verify"><input type="text" name="mac" /><span style="font-size:14px;color:#777">*MAC格式 xx:xx:xx:xx:xx:xx，以逗号(","）隔开多个MAC</span></div>
                    </span>
                </li>
                % endif
            </ul>
            <div class="btngroups"><button type="button" class="btnBlue add" id="add">确定</button></div>
            <i class="msg"></i>
            <span class="closed">X</span>
            <input type="hidden" name="id" />
        </div>
    </div>
    <script src="/static/js/component/useraccount.js"></script>
</%block>

<%block name="jscode">
    <script type="text/javascript" src="/static/js/lib/jqueryui.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript">
        $(function(){
            // 日期
            $(".datepicker").datetimepicker({
                dateFormat: 'yy-mm-dd',
                stepMinute: 10
            });
        });
    </script>
</%block>
