## projectuser.html
<%inherit file="base.html" />

<div class="wrapper">
    <input type="hidden" id="updateAuth" value="${ins.is_allowed('update', 'user')}">
    <input type="hidden" id="createAuth" value="${ins.is_allowed('create', 'user')}">
    <input type="hidden" id="deleteAuth" value="${ins.is_allowed('delete', 'user')}">
    <input type="hidden" id="viewAuth" value="${ins.is_allowed('view', 'user')}">
    <input type="hidden" value="${location}" id="location" />
    <!--导航-->
    <%include file="nav.html" args="on={'user': 'on'}"/>
    <!--右侧功能栏-->
    % if location.startswith('29946'):
    <%
        import user
        from settings import Base
        online, _, _, _ = user.online_user_array(ins, location, page=None, page_size=None);
        # 内部在线人数
        online_count = len([ol for ol in online if ol['name'] != '' and ol['name'] != u'(访客)'])
        # 非内部在线人数
        online_count2 = len([ol for ol in online if ol['name'] == '' or ol['name'] == u'(访客)'])
        try:
            TPNUser = Base.classes.__getattr__('pn_{}'.format(location.split(',')[-1]))
            # 内部不在线人数
            offline_count = ins.session.query(TPNUser).count() - online_count
        except:
            offline_count = 0
    %>
    % else:
    <%
        online_count = online_count2 = offline_count = 0
    %>
    % endif
    <div class="projects">
        <div class="tabbox">
            <div class="bread">
                <%include file="bread_nav.html" args="location=location,ins=ins,suffix='缴费账号',compress=True"/>
                <div class="widget">
                    % if location == '29946':
                    <span class="widinfo bg_green" style="width:145px">在线：${online_count}人</span>
                    <span class="widinfo bg_gray" style="width:145px">不在线：${offline_count}人</span>
                    <span class="widinfo bg_blue" style="width:145px">在线访客：${online_count2}人</span>
                    % endif
                    % if location.startswith('206386'):
                    <a href="/projectchart.html?location=${location}" class="btnBlue">认证人数统计</a>
                    % endif
                </div>
            </div>
        </div>
        <div class="tabbox ns_table" id="userlistPay">
            <ul class="adsnav">
                <li><a href="/projectuseronline.html?location=${location}">在线用户</a></li>
                <li><a href="/projectuserguest.html?location=${location}">在线访客</a></li>
                <li><a href="/projectuseraccount.html?location=${location}">上网账号</a></li>
                ##<%
                ##import resource
                ##res = resource.get(ins, location)
                ##%>
                ##% if res.type_id == 8:
                ##<li><a href="/projectuserpn.html?location=${location}">专网用户</a></li>
                ##% endif
                ##% if location.startswith('29946'):
                ##<li><a href="/projectuserinner.html?location=${location}">内网用户</a></li>
                ##% endif
                ##% if not location.startswith('29946'):
                ##<li class="on"><a href="/projectuserpay.html?location=${location}">缴费账户</a></li>
                ##% endif
            </ul>
            <div class="toolnav">
                <div class="toolbox">
                    <div class="search" id="search"><input type="text" placeholder="输入搜索内容" /><button type="button"><i class="searchIcoGray"></i></button></div>
                </div>
            </div>
            <div id="userPayMemTable"></div>
            <script src="/static/js/component/userpay.js"></script>
        </div>
    </div>
</div>
