## projecturl.html URL列表
<%inherit file="base.html" />

<div class="wrapper">
    ##<input type="hidden" id="location" value="${location}" />
    <input type="hidden" id="user" value="${user}" />
    <input type="hidden" id="mobile" value="${mobile}" />
    ##<input type="hidden" id="ip" value="${ip}" />
    <!--导航-->
    <%include file="nav.html" />
    <!--右侧功能栏-->
    <div class="projects">
        <div class="tabbox">
            <div class="bread">
                <%include file="bread_nav.html" args="location=location,ins=ins,suffix='账号详情',compress=True,remain=[('上网账号', '/projectuseraccount.html?location={}'.format(location))]"/>
            </div>
        </div>
        <div class="tabbox ns_table">
            <div class="toolnav">
                <h3>URL纪录列表</h3>
                <div class="toolbox">
                    ##<a href="/export/webhistory/?location=${location}&user=${user}&mobile=${mobile}&ip=${ip}" class="btnGraySmall">导出</a>
                </div>
            </div>
            <div id="urlRecordMemTable"></div>
            <script src="/static/js/component/urlrecord.js"></script>
        </div>
    </div>
</div>
