.wrapper .wechat-using-panel {
  background: #f4f4f4;
  padding: 10px;
  width: 50%;
}
.wrapper .wechat-using-panel > div {
  display: inline-block;
  vertical-align: middle;
}
.wrapper .wechat-using-panel .wechat-using-info > div {
  margin-bottom: 10px;
  width: 300px;
  font-size: 14px;
}
.wrapper .wechat-using-panel .wechat-using-info > div label {
  width: 35%;
  display: inline-block;
}
.wrapper .wechat-using-panel .wechat-using-qrcode img {
  display: block;
  width: 120px;
  height: 120px;
}
.wrapper .wechat-list-panel {
  border: 1px solid #dfdfdf;
}
.wrapper .wechat-list-panel .wechat-list-head {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #dfdfdf;
  padding: 0 20px;
}
.wrapper .wechat-list-panel .wechat-list-head > div {
  display: inline-block;
}
.wrapper .wechat-list-panel .wechat-list-head .wechat-list-head-left {
  font-size: 14px;
}
.wrapper .wechat-list-panel .wechat-list-head .wechat-list-head-left .wechat-checkbox-all {
  width: 16px;
  height: 16px;
  outline: none;
  margin-right: 5px;
  vertical-align: middle;
}
.wrapper .wechat-list-panel .wechat-list-head .wechat-list-head-right {
  float: right;
}
.wrapper .wechat-list-panel .wechat-list-head .wechat-list-head-right button {
  margin-left: 5px;
  vertical-align: middle;
}
.wrapper .wechat-list-panel .wechat-list-body table {
  border: none;
}
.wrapper .wechat-list-panel .wechat-list-body table td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.wrapper .wechat-list-panel .wechat-list-body table img {
  display: block;
  width: 80px;
  height: 80px;
}
.wrapper .wechat-list-panel .wechat-list-body table .wechat-checkbox {
  width: 16px;
  height: 16px;
  outline: none;
}
.wrapper .wechat-list-panel .wechat-list-body table .using {
  color: #999;
}
.wrapper .wechat-list-panel .wechat-list-body table .use {
  cursor: pointer;
}
.wrapper .wechat-list-panel .wechat-list-body table .use:hover {
  text-decoration: underline;
}
.modal_change_wechat .modal-change-wechat-panel ul {
  background: #eff8f9;
  margin: 0;
}
.modal_change_wechat .modal-change-wechat-panel ul li {
  display: inline-block;
  width: 25%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: left;
  text-indent: 15px;
}
.modal_change_wechat .modal-change-wechat-panel div {
  height: 255px;
  overflow-y: auto;
}
.modal_change_wechat .modal-change-wechat-panel div table tr td {
  font-size: 14px;
  width: 25%;
  padding: 5px 0 5px 15px;
}
.modal_change_wechat .modal-change-wechat-panel div table tr td .using:disabled {
  background: #dfdfdf;
}
