## citymap.html
<%inherit file="base.html" />

<div class="wrapper">
	<!--导航-->
	<%include file="nav.html" args="on={'citymap': 'on'}"/>
	<!--右侧功能栏-->
	<div class="projects">
		<div class="tabbox">
			<div class="bread">
				<h2>
					<a href="#">所有项目</a>
					&gt; <span style="color:#333">城市感知网</span>
					&gt; <span style="color:#0faee5">城市热力图</span>
				</h2>
			</div>
		</div>
		<div class="tabbox">
			<div class="toolnav">
				<div class="total-num-box">
					<div class="sense">
						<div>感知设备总数</div>
						<div class="num">-</div>
					</div>
					<div class="connet">
						<div>连接设备总数</div>
						<div class="num">-</div>
					</div>
				</div>
				<div class="search-box"><input type="text" class="txt-search" placeholder="搜索热点或地址" /><button class="btnBlueSmall btn-search" style="width: auto; ">　搜索　</button></div>
			</div>
		</div>
		<div class="map-box">
			<div id="citymap"></div>
			<div class="map-btn-box">
				<button class="btn-show-sense">感知网</button>
				<button class="btn-show-ap on">AP网</button>
			</div>
			<div class="map-pop">
				<div class="close"><span>×</span></div>
				<div class="ctt">×</div>
			</div>
		</div>
	</div>
</div>

<%block name="jscode">
		<script type="text/javascript" src="../static/js/2qi.js"></script>
		<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=38be3b6a4b58f6632251b88809db0b82&&plugin=AMap.Scale,AMap.ToolBar,AMap.Geocoder,AMap.MarkerClusterer"></script>
		<script>
			$(function() {
				ajaxQ(ajaxUrls.totalnum, "get", null, function(data) {
//					console.log(data)
					if(data.Code.Code==200){
						$(".connet .num").html(data.conns_num)
						$(".sense .num").html(data.sense_num)
					}
				})
				
				var aplistData = null;
				var apORsense = 1;//ap:1,感知:0
				$(document).on("click", ".btn-search", function() {
					var searchWord = $(".txt-search").val();
					if(searchWord==""){
//						alert("正在查询全部数据。");
						getMapData();
						return;
					}
					ajaxQ(ajaxUrls.search, "post", {//{"searchStr":xxx,page_num:xx,page_size:xx}
						searchStr:searchWord
					}, function(data) {
						console.log(data)
						if(data.Code.Code==200){
							if(data.aplist.length<1){
								alert("没有搜索到相关数据。");
								return;
							}
							//
							myMap.setZoomAndCenter(11, [113.513364, 22.732559]);
							aplistData = data.aplist;							
							showMapData();//var results = data.aplist;
						}
					})
				})
				
				$(document).on("click", ".btn-show-ap", function() {
					if($(this).hasClass("on")){
						return;
					}
					$(".btn-show-sense").removeClass("on");
					$(this).addClass("on");
					apORsense=1;
					showMapData();
				})
				$(document).on("click", ".btn-show-sense", function() {
					if($(this).hasClass("on")){
						return;
					}
					$(".btn-show-ap").removeClass("on");
					$(this).addClass("on");
					apORsense=0;
					showMapData();
				})
				
				var myMap;
				var pileLng = 0,
					pileLat = 0;
				var cluster, markers = null;
				var pointMark = null,
					infoWindow = null,
					zoomN;
					
				function initMap() {
					var scale = new AMap.Scale(),
						toolBar = new AMap.ToolBar();
					myMap = new AMap.Map('citymap', {
							resizeEnable: true,
							zoom: 11,
							center: [113.513364, 22.732559], //南沙区域正中心点	//[113.53141,22.808029],//南沙区政府点
						});
						
					myMap.addControl(scale);
					myMap.addControl(toolBar);
					infoWindow = new AMap.InfoWindow({
						offset: new AMap.Pixel(0, -30)
					});
					
					getMapData();
				}
				initMap();
				
				function getMapData() {
					//查数据
					ajaxQ(ajaxUrls.aplist, "get", null, function(data) {
//						console.log(data)
						if(data.Code.Code==200){
							if(data.aplist.length<1){
								alert("没有搜索到相关数据。")
								return;
							}
							
							aplistData = data.aplist;
							showMapData();//var results = data.aplist;
							//console.log(JSON.stringify(results));	
							
						}
					})
				}
				
//ap_address:"百万葵院餐厅-AP01"
//cnt:795
//dtime:2017052210
//lat:22.7062
//lng:113.552
//mac:"9C:50:EE:66:F7:C0"
//mpoi_address:"广州市南沙区万顷沙镇百万葵院餐厅"
//mpoi_id:1658
//mpoi_name:"百万葵院餐厅"
//online:"1"
				
				function showMapData() {
					
					//
					if(markers) {
						for(var i = 0; i < markers.length; i++) {
							markers[i].hide();
						}
					}					
					if(cluster) {
						cluster.setMap(null);
					}
					if(pointMark) {
						pointMark.hide();
					}
					infoWindow.close();

					markers = [];
					
					
					
					if(!apORsense){//显示感知网
						var cc = aplistData;
						var apData=[],llArr=[];
						for(var i=0;i<cc.length;i++){
							var ll = cc[i].lat+","+cc[i].lng;							
							if(llArr.indexOf(ll)<0){
								llArr.push(ll);								
								var datai = {
									lat: cc[i].lat,
									lng: cc[i].lng,
									cnt: cc[i].cnt,
									apNums:1
								}
								apData.push(datai);
							}else{
								apData[llArr.indexOf(ll)].cnt+=cc[i].cnt;
								apData[llArr.indexOf(ll)].apNums+=1;
							}
							
						}
						//console.log(apData)
						
						for(var i = 0; i < apData.length; i++) {
							var object = apData[i];
							var marker = new AMap.Marker({ //添加自定义点标记
						        map: myMap,
						        position: [object.lng, object.lat],
						        offset: new AMap.Pixel(0, 0), //相对于基点的偏移位置
						        content: '<div class="marker-ap">'+object.cnt+'</div>'   //自定义点标记覆盖物内容
						   	});
						   	markers.push(marker);
						   	var conStr = 'AP数量：'+object.apNums+'个<br>感知设备数：' + object.cnt+'个';
								
							marker.content = conStr;
							marker.on('mouseover', markerClick);
						}						
					}else{
						var results=aplistData;
						for(var i = 0; i < results.length; i++) {
							var object = results[i];
							var marker = new AMap.Marker({
	//							icon: (i % 2 == 1) ? "../static/images/p2.png" : "../static/images/p3.png",
								position: [object.lng, object.lat],
								map: myMap,
								offset: new AMap.Pixel(-25, -28)
							});
						   	marker.apName = object.ap_address;
						   	marker.apIdx = i;
							markers.push(marker);
							
							var conStr = '<p><b>'+object.ap_address+'</b></p><p>名称：' + object.mpoi_name;
								conStr += '</p><p>地址：' + object.mpoi_address;
								conStr += '</p><p>MAC地址：' + object.mac;
								conStr += '</p><p>状态：' + (object.online == 1 ? '在线' : '离线');
								conStr += '</p><p data-id="' + object.id + '"></p>';
							
							marker.content = conStr;
							marker.on('click', markerClick);
							marker.on('mouseover', function(e) {
								e.target.setAnimation("AMAP_ANIMATION_BOUNCE");
								//e.target.setIcon("http://amappc.cn-hangzhou.oss-pub.aliyun-inc.com/lbs/static/img/marker.png")
							});
							marker.on('mouseout', function(e) {
								e.target.setAnimation("AMAP_ANIMATION_NONE");
								//e.target.setIcon("images/p2.png")
							});
						}
	
						addCluster();// 添加点聚合
					}
					
				}
				
				function markerClick(e) {
					infoWindow.setContent(e.target.content);
					infoWindow.open(myMap, e.target.getPosition());
				}
				//点聚合
				var clusterMk = null;
				function addCluster() {
					cluster = new AMap.MarkerClusterer(myMap, markers);//,{maxZoom:16}
					cluster.on("click",function(cluster){						
						var mk_arr = cluster.markers,
							mk_pos = cluster.lnglat,
							mk_content = "<div class='mk-arr-box'>";
							
						for(var i=0;i<mk_arr.length;i++){
							mk_content += "<div data-idx='"+mk_arr[i].content+"'>"+mk_arr[i].apName+"</div>";
						}
						mk_content += "</div>";
						
						if(clusterMk){
							clusterMk.show();
							clusterMk.setPosition(mk_pos);
							clusterMk.setContent(mk_content);
						}else{
							clusterMk = new AMap.Marker({ //添加自定义点标记
						        map: myMap,
						        position: mk_pos,
						        offset: new AMap.Pixel(20, 0), //相对于基点的偏移位置
						        content: mk_content   //自定义点标记覆盖物内容
						   });							
						}
						
					})
				}
				
				myMap.on("zoomstart", function() {
					if(clusterMk)clusterMk.hide();
					//var zoomLV = myMap.getZoom();
				})
				
				$(document).on("click", ".mk-arr-box div", function() {
					var str = $(this).data("idx");
					$(".map-pop .ctt").html(str);
					$(".map-pop").fadeIn(300);
				})
				$(document).on("mouseover", ".mk-arr-box", function() {
					myMap.setStatus({zoomEnable:false})
				})
				$(document).on("mouseout", ".mk-arr-box", function() {
					myMap.setStatus({zoomEnable:true})
				})
				$(document).on("click", ".map-pop .close span", function() {
					$(".map-pop").fadeOut(300);
				})


			})
		</script>

</%block>