## projectsens.html
<%inherit file="base.html" />

<div class="wrapper">
    <input type="hidden" id="createAuth" value="${ins.is_allowed('create', 'sens')}">
    <input type="hidden" id="deleteAuth" value="${ins.is_allowed('delete', 'sens')}">
    <input type="hidden" value="${location}" id="location" />
    <!--导航-->
    <%include file="nav.html" args="on={'sens': 'on'}"/>
    <!--右侧功能栏-->
    <div class="projects">
        <div class="tabbox">
            <div class="bread">
                <%include file="bread_nav.html" args="location=location,ins=ins,suffix='感知分析'"/>
            </div>
        </div>
        <div class="tabbox ns_table" id="sens">
            <div class="toolnav">
                <h4>监视组列表</h4>
                <div class="toolbox">
                    % if ins.is_allowed('create', 'sens'):
                    <button type="button" class="btnGraySmall addbtn">新增监视</button>
                    % endif
                    <div class="search" id="search"><input type="text" placeholder="输入监视名" /><button type="button"><i class="searchIcoGray"></i></button></div>
                </div>
            </div>
            <div id="sensTable"></div>
            <script src="/static/js/component/sens.js"></script>
        </div>
    </div>
</div>

<%block name="aside">
    <div class="modal fade" id="modalSens">
        <div class="modal_sens modal_body">
            <h3>新增监视</h3>
            <ul class="vertical">
                <li><label><i>*</i>监视组名：</label><span class="veright"><div class="verify"><input type="text" name="group" class="matchVerify" /></div></span></li>
                <li><label><i>*</i>选择AP：</label>
                    <span class="veright">
                        <div class="checklist">
                          <dl>
                            % for ap in aps:
                            <dd>
                              <i class="uncheck_s"></i>
                              <em data-id="${str(ap['_id'])}">${ap['group']}</em>
                            </dd>
                            % endfor
                          </dl>
                        </div>
                    </span>
                </li>
                <!--<li><label><i>*</i>单位时间设置：</label>-->
                    <!--<span class="veright">-->
                        <!--<dl class="checktabs" id="unit">-->
                           <!--<dd data-value="week">周</dd>-->
                           <!--<dd data-value="day">天</dd>-->
                           <!--<dd data-value="hour" class="on">小时</dd>-->
                           <!--<dd data-value="minute">分钟</dd>-->
                        <!--</dl>-->
                        <!--<div class="verify ipu140"><input type="text" class="matchVerify checkInt" name="scale" /></div>-->
                    <!--</span>-->
                <!--</li>-->
                <li><label><i>*</i>警戒数：</label><span class="veright"><div class="verify"><input type="text" name="warning" class="matchVerify" /></div></span></li>
            </ul>
            <div class="btngroups"><button type="button" class="btnBlue add">确定</button></div>
            <i class="msg"></i>
            <span class="closed">X</span>
        </div>
    </div>
</%block>
