## terminal.html
<%inherit file="base.html" />
<div class="wrapper phase2">
	<!--导航-->
	<%include file="nav.html" args="on={'terminal': 'on'}"/>
	<!--右侧功能栏-->
	<div class="projects">
		<div class="tabbox">
			<div class="bread">
				<h2>
					<a href="#">所有项目</a>
					&gt; <span style="color:#333">数据分析平台</span>
					&gt; <span style="color:#0faee5">终端分析</span>
				</h2>
			</div>
		</div>
		<div class="tabbox " id="">
			<div class="toolnav">
				<h3>终端品牌</h3>
			</div>
			<!--<div class="content-title"></div>-->
			<div class="sort-panel">
				<div class="sort-list-box">
					<!--<div style="margin-bottom: 10px;">
						<span>统计区域</span>
						<select class="towns" name="" style="width: 100px;">
							<option value="">全部</option>
							<option value="">一镇</option>
							<option value="">二镇</option>
						</select>
						<button class="btnBlueSmall chaxun">查询</button>
					</div>-->
					<ul class="item-list">
						<li class="item-list-title">
							<div class="item-hd"><i class="">排名</i><span class="key">品牌</span><span>终端数量</span></div>
						</li>
						<!--<li>
							<div class="item-hd"><i class="num-top">1</i><span class="key">华为</span><span class="tmn-num">1548</span></div>
						</li>-->
					</ul>
				</div>
				<div id="sortChart" class="sort-echart-box">
					<!--饼图-->
				</div>
			</div>
		</div>
		<div class="tabbox " id="">
			<div class="toolnav">
				<h3>终端联网时间</h3>
			</div>

			<div id="hoursChart" class="search-echart-box">
				<!--曲线图-->
			</div>
		</div>
	</div>
</div>


<%block name="jscode">
		<script type="text/javascript" src="../static/js/2qi.js"></script>
		<script type="text/javascript" src="../static/js/echarts.js"></script>
		<script>
			$(function() {
				var ignoreArr = ["None", "Generic_Android", "Generic"]; //要屏蔽的手机型号
				var phoneTypeData = [];

				var phoneTypeDataForShow = {
					//subtext: " ",//镇区名
					legendData: [], //'华为', 'Apple', '步步高', 'Vivo', '小米'
					seriesData: [] //[{value: 1548,name: '华为'}]
				}				

				//var townArr = ["全部", "一镇", "二镇", "三镇", "四镇", "五镇", "六镇", "一街", "二街"];
				//var townTmnNumsAll = [1548, 335, 310, 234, 135];
				//var townTmnNums = [196, 42, 38, 29, 18];

				//初始化echarts实例
				var sortChart = echarts.init(document.getElementById('sortChart'));
				
				$(".item-list").append("<li style='padding: 10px;'><i class='loading'></i>正在加载...</li>");
				ajaxQ(ajaxUrls.phoneType, "get", null, function(data) {
					if(data.Code.Code == 200) {
						phoneTypeData = data.phone_type;
						var str = "";
						var orderIndex = 1; //序号
						if(phoneTypeData.length < 1) {
							$("i.loading:eq(0)").parent().remove();
							str = "<li>暂无数据。</li>";
						} else {
							//拼列表数据
							for(var i = 0;
								(i < phoneTypeData.length && orderIndex <= 10); i++) {
								if(ignoreArr.indexOf(phoneTypeData[i].phone_type) > -1) {
									continue;
								}
								str += '<li><div class="item-hd"><i class="num-top">' + orderIndex + '</i><span class="key">' + phoneTypeData[i].phone_type + '</span><span class="tmn-num">' + phoneTypeData[i].num + '</span></div></li>';
								orderIndex++;
							}
							//拼饼图数据
							var otherType = "其他",
								otherNum = 0;
							for(var i = 0; i < phoneTypeData.length; i++) {
								if(ignoreArr.indexOf(phoneTypeData[i].phone_type) > -1 || i > 9) {
									otherNum += phoneTypeData[i].num;
								} else {
									phoneTypeDataForShow.legendData.push(phoneTypeData[i].phone_type);
									phoneTypeDataForShow.seriesData.push({
										value: phoneTypeData[i].num,
										name: phoneTypeData[i].phone_type
									})
								}
							}
							phoneTypeDataForShow.legendData.push(otherType);
							phoneTypeDataForShow.seriesData.push({
								value: otherNum,
								name: otherType
							})
						}
						
						$("i.loading:eq(0)").parent().remove();
						$(".item-list").append(str);
						getSortChartOption();
					}
				})
				
				function getSortChartOption() {

					// 指定图表的配置项和数据
					var sortChartOption = {
						title: {
							text: '移动终端品牌统计',
							subtext: phoneTypeDataForShow.subtext,
							x: 'center'
						},
						tooltip: {
							trigger: 'item',
							formatter: "{a} <br/>{b} : {c} ({d}%)"
						},
						legend: {
							orient: 'vertical',
							left: 'left',
							data: phoneTypeDataForShow.legendData
						},
						series: [{
							name: '搜索来源',
							type: 'pie',
							radius: '55%',
							center: ['50%', '60%'],
							data: phoneTypeDataForShow.seriesData,
							itemStyle: {
								emphasis: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.5)'
								}
							}
						}]
					};

					// 使用刚指定的配置项和数据显示图表。
					sortChart.setOption(sortChartOption);
				}
				
				//区域终端联网时间
				
				//初始化echarts实例
				var hoursChart = echarts.init(document.getElementById('hoursChart'));
				
				var disOnliTimeDataForShow = {
					xAxisData: [], //["一镇", "二镇", "三镇", "四镇", "五镇", "六镇", "一街", "二街"]
					seriesData: [] //[180, 152, 200, 334, 390, 330, 220, 270]
				}
				
				$("#hoursChart").prepend("<div style='padding: 10px;'><i class='loading'></i>正在加载...</div>");
				ajaxQ(ajaxUrls.disOnliTime, "get", null, function(data) {
					if(data.Code.Code == 200) {
						$("i.loading:eq(1)").parent().remove();
						var disOnliTimeData = data[" res"];
						if(disOnliTimeData.length < 1) {
							$("#hoursChart").html("暂无数据。")
						} else {
							//拼柱形图数据
							for(var i = 0; i < disOnliTimeData.length; i++) {
								disOnliTimeDataForShow.xAxisData.push(disOnliTimeData[i].name);
								disOnliTimeDataForShow.seriesData.push(disOnliTimeData[i].session_time)
							}
						}
						getHoursChartOption();
					}
				})


				function getHoursChartOption() {
					var hoursChartOption = {
						title: {
							text: '区域终端联网时间',
							x: 'center'
						},
						color: ['#3398DB'],
						tooltip: {
							trigger: 'axis',
							axisPointer: { // 坐标轴指示器，坐标轴触发有效
								type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
							}
						},
						grid: {
							left: '3%',
							right: '4%',
							bottom: '3%',
							containLabel: true
						},
						xAxis: [{
							type: 'category',
							data: disOnliTimeDataForShow.xAxisData,
							axisTick: {
								alignWithLabel: true
							}
						}],
						yAxis: [{
							type: 'value',
							name: '时长（小时）'
						}],
						series: [{
							name: '区域终端联网时间',
							type: 'bar',
							barWidth: '60%',
							data: disOnliTimeDataForShow.seriesData
						}]
					};
					hoursChart.setOption(hoursChartOption);
				}
//				getHoursChartOption();

			})
		</script>

</%block>