## userhx.html
<%inherit file="base.html" />
		<style type="text/css">
			.sort-panel,
			.search-echart-box {
				overflow: hidden;
				width: 880px;
				margin: 0 auto;
			}
			.toolnav h3{
				width:400px;
				border-left: 3px solid #39f;
				text-indent: 0.5em;
			}
			.sort-list-box,
			.sort-echart-box {
				float: left;
				width:400px;
			}
			
			.sort-echart-box {
				margin-left: 15px;
			}
			
			.sort-list-box .circles{
				position: relative;
				width: 400px;
				height: 300px;
				overflow: hidden;
			}
			.sort-list-box .circles>div{
				position: absolute;
				width: 48px;
				height: 48px;
				background: #ccc;
				text-align: center;
				border-radius:100%;
				float: left;
			}
			.sort-list-box .circles>div span{
				display: inline-block;
				margin-top: 25%;
				color: #fff;
				cursor: default;
			}
			.circles>div:nth-child(1){	left:5px; top: 75px; width: 93px; height: 93px; background: #39C;}
			.circles>div:nth-child(2){	left:75px; top: 160px;width: 89px; height: 89px; background: #969;}
			.circles>div:nth-child(3){	left:98px; top: 25px;width: 87px; height: 87px; background: #2BC2EB;}
			.circles>div:nth-child(4){	left:153px; top: 105px;width: 79px; height: 79px; background: #dFcAe8;}
			.circles>div:nth-child(5){	left:195px; top: 185px;width: 78px; height: 78px; background: #fc9;}
			.circles>div:nth-child(6){	left:215px; top: 40px; width: 73px; height: 73px; background: #06c;}
			.circles>div:nth-child(7){	left:248px; top: 123px; width: 71px; height: 71px; background: #2BC2EB;}
			.circles>div:nth-child(8){	left:305px; top: 60px; width: 67px; height: 67px; background: #f99;}
			.circles>div:nth-child(9){	left:290px; top: 190px; width: 66px; height: 66px; background: #39C;}
	
			
			#hoursChart,
			#sortChart {
				min-height: 300px;
				min-width: 400px;
			}
			
			.duration {
				font-size: 12px;
				line-height: 30px;
				vertical-align: middle;
			}
			
			.duration span {
				display: inline-block;
				width: 30px;
				height: 30px;
				border: 1px solid #ccc;
				border-radius: 100%;
				overflow: hidden;
				text-align: center;
				cursor: pointer;
			}
			
			.duration span.on {
				background: #08c3e5;
				color: #fff;
			}
			
			.added-keywords i {
				display: inline-block;
				padding: 1px 3px;
				border: 1px solid #ccc;
				margin-right: 10px;
			}
		</style>

			<div class="wrapper">
				<!--导航-->
				<%include file="nav.html" args="on={'userhx': 'on'}"/>
				<!--右侧功能栏-->
				<div class="projects">
					<div class="tabbox">
						<div class="bread">
							<h2>
								<a href="#">所有项目</a>
								&gt; <span style="color:#333">数据分析平台</span>
								&gt; <span style="color:#0faee5">人群画像</span>
							</h2>
						</div>
					</div>
					<div class="tabbox " id="">
						<div class="toolnav">
							<h3>用户区域分布</h3>
							<h3>设备品牌喜好</h3>
						</div>
						<!--<div class="content-title"></div>-->
						<div class="sort-panel">
							<div class="sort-list-box">
								<div class="circles">
									<!--<div><span>六镇<br>2712</span></div>
									<div><span>四镇<br>2212</span></div>
									...
									-->
								</div>								
							</div>
							<div id="sortChart" class="sort-echart-box">
								<!--设备品牌喜好-->
							</div>
						</div>
					</div>
					<div class="tabbox " id="">
						<div class="toolnav">
							<h3>用户上网时段</h3>
						</div>
						<div id="hoursChart" class="search-echart-box">
							<!--曲线图-->
						</div>
					</div>
				</div>
			</div>

<%block name="jscode">
		<script type="text/javascript" src="../static/js/2qi.js"></script>
		<script type="text/javascript" src="../static/js/echarts.js"></script>
		<script>
			$(function() {
//用户区域分布
				$(".circles").append("<span style='padding: 10px;'><i class='loading'></i>正在加载...</span>");
				ajaxQ(ajaxUrls.userDistrict, "get", null, function(data) {
					if(data.Code.Code == 200) {
						var distrcitData = data["distrcit"];
						distrcitData.sort(sortBy('tconns', true, parseInt));
						console.log(distrcitData);
						if(distrcitData.length < 1) {
							$(".circles").html("暂无数据。")
						} else {
							//拼数据
							//<div><span>四镇<br>2212</span></div>
							var str="";
							for(var i = 0; i < distrcitData.length; i++) {
								str += '<div><span>'+distrcitData[i].name+'<br>'+distrcitData[i].tconns+'</span></div>';
							}
						}
						$(".circles").html(str);
					}
				})
								
//设备品牌喜好（同终端分析）				
				var ignoreArr = ["None", "Generic_Android", "Generic"]; //要屏蔽的手机型号
				var phoneTypeDataForShow = {
					//subtext: " ",//镇区名
					legendData: [], //'华为', 'Apple', '步步高', 'Vivo', '小米'
					seriesData: [] //[{value: 1548,name: '华为'}]
				}

				//初始化echarts实例
				var sortChart = echarts.init(document.getElementById('sortChart'));

				ajaxQ(ajaxUrls.phoneType, "get", null, function(data) {
					if(data.Code.Code == 200) {
						var phoneTypeData = data.phone_type;
						var orderIndex = 1; //序号
						if(phoneTypeData.length < 1) {
							$("#sortChart").html("暂无数据。")
						} else {
							//拼饼图数据
							var otherType = "其他",
								otherNum = 0;
							for(var i = 0; i < phoneTypeData.length; i++) {
								if(ignoreArr.indexOf(phoneTypeData[i].phone_type) > -1 || i > 9) {
									otherNum += phoneTypeData[i].num;
								} else {
									phoneTypeDataForShow.legendData.push(phoneTypeData[i].phone_type);
									phoneTypeDataForShow.seriesData.push({
										value: phoneTypeData[i].num,
										name: phoneTypeData[i].phone_type
									})
								}
							}
							phoneTypeDataForShow.legendData.push(otherType);
							phoneTypeDataForShow.seriesData.push({
								value: otherNum,
								name: otherType
							})
						}						
						getSortChartOption();
					}
				})

				function getSortChartOption() {

					// 指定图表的配置项和数据
					var sortChartOption = {
						title: {
							text: '移动终端品牌统计',
							subtext: phoneTypeDataForShow.subtext,
							x: 'center'
						},
						tooltip: {
							trigger: 'item',
							formatter: "{a} <br/>{b} : {c} ({d}%)"
						},
						legend: {
							orient: 'vertical',
							left: 'left',
							data: phoneTypeDataForShow.legendData
						},
						series: [{
							name: '搜索来源',
							type: 'pie',
							radius: '55%',
							center: ['50%', '60%'],
							data: phoneTypeDataForShow.seriesData,
							itemStyle: {
								emphasis: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.5)'
								}
							}
						}]
					};

					// 使用配置项和数据显示图表
					sortChart.setOption(sortChartOption);
				}
				
				
//用户上网时段				
				var onliNmOfEryHourDataForShow = {
					xAxisData: [], //'华为', 'Apple', '步步高', 'Vivo', '小米'
					seriesData: [] //[{value: 1548,name: '华为'}]
				}
				
				ajaxQ(ajaxUrls.onliNmOfEryHour, "get", null, function(data) {
					if(data.Code.Code == 200) {
						var onliNmOfEryHourData = data[" res"];
						if(onliNmOfEryHourData.length < 1) {
							$("#hoursChart").html("暂无数据。")
						} else {
							//拼数据
							for(var i = 0; i < onliNmOfEryHourData.length; i++) {
								onliNmOfEryHourDataForShow.xAxisData.push((i>9?(i+""):("0"+i))+":00");
								onliNmOfEryHourDataForShow.seriesData.push(onliNmOfEryHourData[i][i>9?(i+""):("0"+i)])
							}
						}
						getHoursChartOption();
					}
				})
				
				var hoursChart = echarts.init(document.getElementById('hoursChart'));
				function getHoursChartOption() {

					var hoursChartOption = {
					title: {
						text: '',
						subtext: ''
					},
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'cross'
						}
					},
					toolbox: {
						show: true,
						feature: {
//							saveAsImage: {}
						}
					},
					xAxis: {
						type: 'category',
						boundaryGap: false,
						data: onliNmOfEryHourDataForShow.xAxisData//['00:00', '01:15', '02:30', '03:45', '05:00', '06:15', '07:30', '08:45', '10:00', '11:15', '12:30', '13:45', '15:00', '16:15', '17:30', '18:45', '20:00', '21:15', '22:30', '23:45']
					},
					yAxis: {
						type: 'value',
						axisLabel: {
							formatter: '{value} 人'
						},
						axisPointer: {
							snap: true
						}
					},
					visualMap: {
						show: false,
						dimension: 0,
						pieces: [{
							lte: 7,
							color: 'green'
						}, {
							gt: 7,
							lte: 10,
							color: 'red'
						}, {
							gt: 10,
							lte: 15,
							color: 'green'
						}, {
							gt: 15,
							lte: 18,
							color: 'red'
						}, {
							gt: 18,
							color: 'green'
						}]
					},
					series: [{
						name: '上网人数',
						type: 'line',
						smooth: true,
						data: onliNmOfEryHourDataForShow.seriesData,//[300, 280, 250, 260, 270, 300, 550, 500, 400, 390, 380, 390, 400, 500, 600, 750, 800, 700, 600, 400],
						markArea: {
							data: [
								[{
									name: '早高峰',
									xAxis: '07:00'
								}, {
									xAxis: '10:00'
								}],
								[{
									name: '晚高峰',
									xAxis: '15:00'
								}, {
									xAxis: '18:00'
								}]
							]
						}
					}]
				};
				hoursChart.setOption(hoursChartOption);

			}
//			getHoursChartOption();

			

			})
		</script>
</%block>