## website.html
<%inherit file="base.html" />

			<div class="wrapper">
				<!--导航-->
    			<%include file="nav.html" args="on={'website': 'on'}"/>

				<!--右侧功能栏-->
				<div class="projects">
					<div class="tabbox">
						<div class="bread">
							<h2>
								<a href="#">所有项目</a>
								&gt; <span style="color:#333">数据分析平台</span>
								&gt; <span style="color:#0faee5">网站分析</span>
							</h2>
						</div>
					</div>
					<div class="tabbox " id="">
						<div class="toolnav">
							<h3>网站排行榜</h3>
							<h3>网站分类排行</h3>
						</div>
						<!--<div class="content-title"></div>-->
						<div class="sort-panel">
							<div class="sort-list-box">
								<ul class="item-list">
									<li class="item-list-title">
										<div class="item-hd"><i class="">排名</i><span class="key">网站</span><span>日平均访问量</span></div>
									</li>
									<!--<li>
										<div class="item-hd"> <i class="num-normal">1</i> <span class="key"><a href="http://www.baidu.com" target="_blank">百度</a></span> <span class="tmn-num">-</span></div>
									</li>-->
								</ul>
							</div>
							<div id="sortChart" class="sort-echart-box">
								<!--饼图-->
							</div>
						</div>
					</div>
				</div>
			</div>

<%block name="jscode">
		<script type="text/javascript" src="../static/js/2qi.js"></script>
		<script type="text/javascript" src="../static/js/echarts.js"></script>
		<script>
			$(function() {
				$(".item-list").append("<li style='padding: 10px;'><i class='loading'></i>正在加载...</li>");
				ajaxQ(ajaxUrls.top20Websites, "get", null, function(data) {
					if(data.Code.Code == 200) {
						var dList = data[" res"];
						if(typeof(dList) == "undefined" ||dList.length < 1) {
							$("i.loading").parent().remove();
							$(".item-list").append("<li>暂无数据。</li>");
						} else {
							var str="";
							for(var i=0;i<dList.length;i++){
								if(dList[i].domain==""){continue;}
								str+='<li><div class="item-hd"> <i class="num-normal">'+dList[i].num;
								str+='</i> <span class="key">'+dList[i].nmae;
								str+='</span> <span class="tmn-num">'+dList[i].domain;
								str+='</span></div></li>';
							}
							$("i.loading").parent().remove();
							$(".item-list").append(str);
						}
					}
				})
				// 基于准备好的dom，初始化echarts实例
				var sortChart = echarts.init(document.getElementById('sortChart'));
				
				var numI = 4000 + parseInt(Math.random() * 800);
				$(".tmn-num").each(function(){
					numI = numI - parseInt(Math.random() * 200);
					$(this).html(numI)
				})


				var keywordData = {
					subtext: "",
					legendData: ["购物","社交","资讯","门户","影音","游戏"],
					seriesData: [{
							value: 200 + parseInt(Math.random() * 1500),
							name: '购物'
						},
						{
							value: 200 + parseInt(Math.random() * 1200),
							name: '社交'
						},
						{
							value: 200 + parseInt(Math.random() * 800),
							name: '资讯'
						},
						{
							value: 200 + parseInt(Math.random() * 800),
							name: '门户'
						},
						{
							value: 200 + parseInt(Math.random() * 1200),
							name: '影音'
						},
						{
							value: 200 + parseInt(Math.random() * 800),
							name: '游戏'
						}
					]
				}
				var townTmnNumsAll = [1548, 335, 310, 234, 135];
				var townTmnNums = [196, 42, 38, 29, 18];

				function getSortChartOption() {

					// 指定图表的配置项和数据
					var sortChartOption = {
						title: {
							text: '网站分类排行',
							subtext: keywordData.subtext,
							x: 'center'
						},
						tooltip: {
							trigger: 'item',
							formatter: "{a} <br/>{b} : {c} ({d}%)"
						},
						legend: {
							orient: 'vertical',
							left: 'left',
							data: keywordData.legendData
						},
						series: [{
							name: '搜索来源',
							type: 'pie',
							radius: '55%',
							center: ['50%', '60%'],
							data: keywordData.seriesData,
							itemStyle: {
								emphasis: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.5)'
								}
							}
						}]
					};

					// 使用刚指定的配置项和数据显示图表。
					sortChart.setOption(sortChartOption);
				}
				getSortChartOption();




			})
		</script>
</%block>