## projectuser.html
<%inherit file="base.html" />

<div class="wrapper">
    <input type="hidden" id="updateAuth" value="${ins.is_allowed('update', 'user')}">
    <input type="hidden" id="createAuth" value="${ins.is_allowed('create', 'user')}">
    <input type="hidden" id="deleteAuth" value="${ins.is_allowed('delete', 'user')}">
    <input type="hidden" id="viewAuth" value="${ins.is_allowed('view', 'user')}">
    <input type="hidden" value="${location}" id="location" />
    <!--导航-->
    <%include file="nav.html" args="on={'user': 'on'}"/>
    <!--右侧功能栏-->
    <%
        online_count = online_count2 = offline_count = 0
    %>
    <div class="projects">
        <div class="tabbox">
            <div class="bread">
                <%include file="bread_nav.html" args="location=location,ins=ins,suffix='专网用户',compress=True"/>
                <div class="widget">
                </div>
            </div>
        </div>
        <div class="tabbox ns_table" id="userlistPn">
            <ul class="adsnav">
                <li><a href="/projectuseronline.html?location=${location}">在线用户</a></li>
                <li><a href="/projectuserguest.html?location=${location}">在线访客</a></li>
                <li><a href="/projectuseraccount.html?location=${location}">上网账号</a></li>
                <li class="on"><a href="/projectuserpn.html?location=${location}">专网用户</a></li>
                <!-- <li><a href="/projectuserpay.html?location=${location}">缴费账户</a></li> -->
            </ul>
            <div class="toolnav">
                <div class="toolbox">
                    <div class="search" id="search"><input type="text" placeholder="输入搜索内容" /><button type="button"><i class="searchIcoGray"></i></button></div>
                    % if location.endswith('15914'):
                    <select id="maskCheck"><option value="">状态</option><option value="25">已审核</option><option value="20">待审核</option><option value="21">已驳回</option></select>
                    % endif
                    % if ins.is_allowed('create', 'user'):
                    <button type="button" class="btnGraySmall add">新增</button>
                    <a href="/user_template.xls?location=${location}" class="btnGraySmall">下载模板</a>
                    <button type="button" class="btnGraySmall" id="uploadfile">导入用户</button>
                    <input type="file" class="xlsfile" id="xlsfile" name="uploadfile" />
                    % endif
                    <a href="/pnusers.xls?location=${location}" class="btnGraySmall">导出用户</a>
                </div>
            </div>
            <div id="userPnMemTable"></div>
        </div>
    </div>
</div>

<%block name="aside">
    <%include file="imgModal.html" />
    <div class="modal fade" id="modalRoomPn">
        <div class="modal_room_pn modal_body">
            <h3>新增用户</h3>
            <ul class="vertical">
                % for h in pn_headers:
                % if h['is_profile'] or h['column'] == 'id_number':
                <li><label>${h['title']}：</label><span class="veright">
                    % if h['column'] == 'ends':
                    <div class="amount">
                        <button type="button" class="btnWhiteSmall reduceOne">-</button>
                        <input type="text" name="ends" value="2" data-type="int" />
                        <button type="button" class="btnWhiteSmall addOne">+</button>
                    </div>
                    % elif h['column'] == 'mobile':
                    <div class="verify"><input type="text" name="${h['column']}" class="matchVerify shouldVerify checkPhone" data-type="${h['type']}" /></div>
                    % elif h['column'] == 'user':
                    <em style="float: left; line-height: 32px;">${location.split(',')[-1]}</em><div class="verify normalVerify" style="width: 158px; float: left;"><input type="text" name="${h['column']}" class="matchVerify shouldVerify" data-type="${h['type']}" style="width: 158px; margin-right: 0;" /></div>
                    % elif h['type'] == 'datetime':
                    <div class="verify"><input type="text" name="${h['column']}" data-type="${h['type']}" class="datepicker"/></div>
                    % elif h['type'] == 'password':
                    <div class="verify"><input type="text" name="${h['column']}" data-type="${h['type']}"/></div>
                    % else:
                    <div class="verify"><input type="text" name="${h['column']}" data-type="${h['type']}"/></div>
                    % endif
                </span></li>
                % endif
                % endfor
            </ul>
            <div class="btngroups"><button type="button" class="btnBlue add" id="add">确定</button></div>
            <i class="msg"></i>
            <span class="closed">X</span>
            <input type="hidden" name="id" />
        </div>
    </div>
    <div class="modal fade" id="modalReback">
        <div class="modal_reback modal_body">
            <h3>审核退回</h3>
            <ul class="vertical">
                <li><label><i>*</i>退回原因：</label><span class="veright"><div class="verify"><input type="text" name="reason" class="matchVerify shouldVerify" /></div></span></li>
            </ul>
            <div class="btngroups"><button type="button" class="btnBlue add">确定</button></div>
            <i class="msg"></i>
            <span class="closed">X</span>
        </div>
    </div>
    <div class="modal fade" id="modalRecharge">
        <div class="modal_recharge modal_body">
            <h3>充值</h3>
            <ul class="vertical">
                <li><label><i>*</i>选择套餐：</label><span class="veright"><div class="verify">
                <select id="comboList">
                    <!-- <option value="">套餐1</option> -->
                </select>
                </div></span></li>
            </ul>
            <div class="btngroups"><button type="button" class="btnBlue add">确定</button></div>
            <i class="msg"></i>
            <span class="closed">X</span>
        </div>
    </div>
    <script src="/static/js/component/userpn.js"></script>
</%block>

<%block name="jscode">
    <script type="text/javascript" src="/static/js/lib/ajaxfileupload.js"></script>
    <script type="text/javascript" src="/static/js/lib/jqueryui.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript">
        $(function(){
            // 日期
            $(".datepicker").datetimepicker({
                dateFormat: 'yy-mm-dd',
                stepMinute: 10
            });
        });
    </script>
</%block>
