## apgroups.html
<%inherit file="base.html" />

<div class="wrapper">
    <input type="hidden" id="location" value="${location}" />
    <!--导航-->
    <%include file="nav.html" args="on={'apgroups': 'on'}"/>
    <!--右侧功能栏-->
    <div class="projects">
        <div class="tabbox">
            <div class="bread">
                <%include file="bread_nav.html" args="location=location,ins=ins,suffix='AP组管理'"/>
            </div>
        </div>
        <div class="tabbox ns_table" id="apgroups">
            <div class="toolnav">
                <h4>AP组列表</h4>
                <div class="toolbox">
                    <button type="button" class="btnGraySmall delbtn">删除AP组</button>
                    <a href="/apgroupsadd.html?location=${location}" class="btnGraySmall addbtn">新增AP组</a>
                    % if apgroups:
                    <a href="/apgroupsedit.html?location=${location}&ap_group_id=${str(apgroups[0]['_id'])}" class="btnGraySmall editbtn">编辑AP组</a>
                    % endif
                </div>
            </div>
            <ul class="mw880 navlink" id="apgroupChange">
                % for apg in apgroups:
                  % if loop.index == 0:
                  <li class="act" data-id="${str(apg['_id'])}"><span class="name">${apg['name']}</span><span class="member">AP数量：${apg['ap_count']}</span></li>
                  % else:
                  <li data-id="${str(apg['_id'])}"><span class="name">${apg['name']}</span><span class="member">AP数量：${apg['ap_count']}</span></li>
                  % endif
                % endfor
            </ul>
            <div class="toolnav">
                <div class="toolbox">
                    <div class="search" id="search"><input type="text" placeholder="搜索" /><button type="button"><i class="searchIcoGray"></i></button></div>
                </div>
            </div>
            <div id="apgroupsMemTable"></div>
            <script src="/static/js/component/apgroups.js"></script>
        </div>
    </div>
</div>